@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Permanent Marker", "Helvetica Neue";
}



body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.head-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: #131515;
    padding: 10px;
}

.rules-head-bar {
    font-size: 60px;
    color: white;
    margin-right: 30px;
}

.name {
    color: white;
    font-size: 60px;
    margin-left: 30px;
    text-decoration: none;
}


.container {
    padding: 0rem 7rem;
    background-color: #fff; 
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.result-area {
    display: flex;
    justify-content: center;
    column-gap: 7rem;
}

.result-area img {
 width: 250px;
 padding: 10px;
}

.user-result {
    transform: rotate(90deg);
}

.cpu-result { 
    transform: scaleX(-1) rotate(-270deg);
}

.result-container {
    text-align: center;
    padding: 30px;
    font-size: 40px;
}

.option-images {
    display: flex;
}

.image-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    opacity: 0.3;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.image-option.active {
    opacity: 1;
    color: black;
}

.image-option:hover {
    opacity: 1;
    color: black;
}

.image-option img {
    width: 100px; 
    height: auto; 
}

@keyframes shake {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
    
  }
  
  .shake-animation {
    animation: shake 1s ease-in-out 3;
  }

  .score-wrap {
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 115px;
    font-size: 50px;
  }

  .score {
    padding: 30px;
  }

  .score-number {
    color: red;
  }


  .footer {
    height: 100px;
    width: 100%;
    background-color: #131515;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

  .icons {
    padding: 20px 30px 10px 30px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

  .icons :hover {
    color: slategray;
}


/* rules page */

  .rules-heading {
    font-size: 100px;
}

  .rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .rules-content {
    font-size: 30px;
}

  .rules-img {
    width: 50%;
}

@media screen and (max-width: 768px) {
    
.result-container {
    text-align: center;
    padding: 10px;
    font-size:20px;
}

.container {
    padding: 0rem 3rem;
    background-color: #fff; 
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}


}

@media screen and (max-width: 500px) {
    .container {
        width: 100%;
        background-color: #fff; 
        border-radius: 30px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    }
    
    .result-area {
        display: flex;
        justify-content: center;
        column-gap: 2rem;
    }

    .result-area img {
        width: 120px;
        padding: 0;
       }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .image-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        opacity: 0.3;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }

    .image-option img {
        width: 50px; 
        padding: 10px;
        height: auto; 
    }
    .image-option p {
        font-size: 10px;
    }

    .head-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100px;
        background: #131515;
        padding: 10px;
    }
    
    .rules-head-bar {
        font-size: 30px;
        color: white;
        margin-right: 20px;
    }
    
    .name {
        color: white;
        font-size: 40px;
        margin-left: 20px;
        text-decoration: none;
    }

    .score-wrap {
        position: absolute;
        display: flex;
        justify-content: space-around;
        bottom: 90px;
        font-size: 20px;
      }
    
      .score {
        padding: 10px;
      }

      .result-container {
        text-align: center;
        padding: 30px;
        font-size: 20px;
    }

    /* rules page */

    .rules-heading {
        font-size: 100px;
        padding: 10px;
        padding-top: 40px;
    }
    
      

}
   






